@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,600&display=swap');

@font-face {
  font-family: "Bluescreens";
  src: url('../assets/TT Bluescreens Trial Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "BluescreensThin";
  src: url('../assets/TT Bluescreens Trial Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "headingnow";
  src: url('../assets/HeadingNowTrial-66Bold.ttf') format('truetype');
  font-style: normal;
}

#root {
  height: 100%;
  width: 100%;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}

.border {
  border: 1px solid red;
}

.center {
  text-align: center;
}
 .w-100 {
  width: 100%
 }

 .w-50 {
  width: 50%
 }

 .h-100 {
  height: 100%
 }

 .m-0 {
  margin: 0;
  padding: 0;
 }
