.menu {
  top: 10px;
  font-family: 'headingnow';
  font-size: 1.3rem;
  color: #dddbe7;
  position: absolute;
  left: 56%;

  @media (max-width: 576px) {
    display: none;
  }

  & a {
    text-decoration: none;
    color: unset;
  }

  & a:nth-child(1),
  & a:nth-child(2),
  & a:nth-child(3),
  & a:nth-child(4) {
    margin-left: 40px;
  }

  & a:hover {
    color: #f3f1fa;
    cursor: pointer;
  }
}

.topnav {
  font-family: 'headingnow';
  overflow: hidden;
  background-color: #4d4b4a;
  position: relative;
}

.myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  /* background: black; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    background-color: transparent;
  }
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
  transition: 0.4s;
}